.pokemonClass{
    flex-basis: 19%;
    height: 400px;
    width : 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.1rem;
    gap: 20px; 
    
  background-color: #385170;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;

     
}
.pokemonClass:hover{
    background-color: rgb(143, 66, 216);
}
.pokemon-image{
    height: 200px;
    /* width: a; */
    max-height: 100%;
}